header{
    grid-row: 3;
    grid-auto-rows: auto;
    a {
        display: inline;
        color: black;
        text-decoration: none;
    }
    ul{
        list-style-type: none;
        padding: 0px;
        margin: 0%;
        overflow: hidden;
    }
    li{
        float: left;
    }
    .logo_image{
        display: inline;
        scale: 50%;
    }
    h1 {
        display: inline;
        font-size: 1em
    }
    .sup-nav{
        position: relative;
    }
}
